li {
    list-style-type: none;
    margin-bottom: 1rem;

}


.test_____{
    text-align: center;
    align-self: center;
}

.yeu {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.labels {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 22%;
    color: white;
    align-items: center;
}

.popup {
    z-index: 30
}


.bank-logos {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;
    gap: 1rem

  }
  
  .bank-logo {
    cursor: pointer;
  }
  
  .bank-logo.selected {
    border: 4px solid #9E44E4;
    border-radius: 1rem;
  }

  .loanInputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .popUpButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }