.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: fit-content;
  height: fit-content;
  background-color: #f2f4f5;
  border-radius: 1rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:left;
}
.modal-content h1 {
  color: black;
}

.userLegalInfo {
  display: flex;
  gap: 0.2rem;
  border-bottom: 2px solid black;
  align-items: end;
  margin-bottom: 1rem;
}

.userLegalInfo p {
  font-size: x-small;
  margin: 6px
}
.loanInfo {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.react-modal {
  z-index: 1000;
}

.buttonBanker {
  justify-content: center;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}