.app {
    padding: 1rem;
}

@font-face {
    font-family: 'CustomFont';
    src: url('/fonts/ABeeZee-Regular.ttf.ttf') format('truetype');
}

* {
    font-family: 'CustomFont', sans-serif;
    font-size: 22px;
    padding:0px;
    margin:0px;
}