.loginCard {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: #f2f4f5;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 18px 30px 0 rgba(0, 0, 0, 0.19);

}

.connexionForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    align-items: center;
}

input {
    border-radius: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 2px;
    border-color:  #9E44E4;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 9px 15px 0 rgba(0, 0, 0, 0.19);

}

.signInLink {
    color: #9E44E4;

}
.signInLink:hover {
    color : black;
}

.error {
    color: red;
    font-size: 0.8rem;
}

h2 {
    padding-left:30px;
}

.pwd-error{
    color: red;
    font-size: 0.8rem;
    margin-left: 30px;
}