.simulationButtonDiv {
display: flex;
justify-content: center;
margin: 3rem;

}

.simulationButton {
    width: 130%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #9E44E4;
    border-radius: 1rem;
    color: black;
    border: none;
    font-size: 20px;
    margin-top: 3rem;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 18px 30px 0 rgba(0, 0, 0, 0.19);

}

.simulationButton:hover {
    background-color: white;
    color: black
}

a {
    text-decoration: none;
}

.simulationIcon {
    color:#f2f4f5;
    }
